
body{
  font-family: 'Quicksand', sans-serif;
}


#about_pic{
  height:300px;
  width:400px;
  padding:10px;
}

#gallery{
  display:none;
}

.jumbotron1 {
height:100%;
background-image: url("https://static.pexels.com/photos/7376/startup-photos.jpg");
background-size: cover;
background-repeat: no-repeat;
padding-top: 20%;
padding-bottom: 20%;
margin: 0px;
/* fix background */
background-attachment: fixed;
/* center it */
background-position: center center;
/* just make it look a bit better ;) */

}


@media (max-width:1025px) {
.jumbotron1 {
height:100%;
background-size: cover;
background-repeat: no-repeat;
padding-top: 20%;
padding-bottom: 20%;
margin: 0px;
/* fix background */
background-attachment: scroll;
/* center it */
background-position: center center;
  /* just make it look a bit better ;) */

  }
}


p{
  font-size: 18px;
}

.btn{
  border-radius: 0px;
}

#parallaxText{
  color:white;
  background-color:rgba(0, 0, 0, 0.5);
  
}
